@tailwind base;
@tailwind components;
@tailwind utilities;

.login-btn {
   @apply px-3 py-2 text-xs font-bold tracking-wider rounded-full cursor-pointer;
}

/* --- wave --- */
.custom-shape-divider-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   height: 265px;
}

.custom-shape-divider-bottom svg {
   position: relative;
   width: 100%;
   height: 350px;
}
